<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>

      {{> menu}}

    <!-- <div>
      {{#movies}}
        <form action='/movies/{{genre}}' method='GET'>
          <button type='submit'>{{genre}}</button>
        </form>
      {{/movies}}
    </div> -->
    <div>
      <h2>Movies</h2>
      <ul>
        {{#movies}}
        <li>
          <img src='{{image}}'/>
          <h3>{{title}}</h3>
          <form action='/movies/delete-movie' method='POST'>
            <input type='hidden' name='id' value="{{movieID}}"></input>
            <button type='submit'>Delete</button>
          </form>
        </li>
        {{/movies}}
      </ul>

        {{^movies}}
          <h3>Sorry no movies found!</h3>
        {{/movies}}

    </div>
  </body>
</html>
